*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    color: #f3f8f7;
}
img{
   
    height: 100;
    width: 100;
    object-fit: cover;
}
html{
    font-family: 'Castoro', serif;
    font-size: 15px;
}
section{
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px 0;
    background-color: rgb(17, 12, 12);
}
.container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
  }
  input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  form ion-icon {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
  }
  .search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-result .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
  }
  .item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }
  .container.initial .brand {
    font-size: 7rem;
  }
  .container.initial form {
    max-width: 800px;
  }
  .container.initial form input {
    padding: 20px;
    font-size: 3rem;
  }
  
  @media (max-width: 768px) {
    .search-result {
      grid-gap: 10px;
    }
    .container.initial .brand {
      font-size: 4rem;
    }
    .container.initial form {
      max-width: 500px;
    }
    .container.initial form input {
      padding: 10px;
      font-size: 2rem;
    }
  }
  
  /* ********************* */
  /* This Code is for only the floating card in right bottom corner */
  /* ********************** */
  
  /* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a {
    padding: 0;
    margin: 0;
    color: var(--color-4);
    text-decoration: none;
  }
  #webCifar-sidebox {
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow-x: clip;
    width: 300px;
  }
  #webCifar-sidebox p {
    padding: 0;
    margin: 0;
  }
  #webCifar {
    --color-1: #17bcb4;
    --color-2: #24252a;
    --color-3: #244044;
    --color-4: #f3f8f7;
    background: var(--color-2);
    display: inline-block;
    color: var(--color-4);
    padding: 10px 17px;
    border-radius: 6px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
    -webkit-transform: translateX(calc(100% + 5px));
    transform: translateX(calc(100% + 5px));
    -webkit-transition: 0.5s ease-out transform;
    transition: 0.5s ease-out transform;
    z-index: 4;
  }
  
  #webCifar.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  #webCifar .logo {
    font-size: 25px;
  }
  
  #webCifar .author {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  #webCifar .author span {
    background-color: var(--color-3);
    padding: 3px;
    border-radius: 4px;
  }
  
  #webCifar .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  #webCifar .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
  }
  
  #webCifar .item:hover {
    background-color: var(--color-3);
  }
  
  #webCifar svg {
    max-width: 20px;
  }
  
  #webCifar .close {
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    right: 5px;
    top: 5px;
    padding: 5px;
    background-color: var(--color-3);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
  
  #webCifar-icon {
    --color-2: #24252a;
    --color-3: #244044;
    font-family: "Roboto Mono", monospace;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-2);
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    gap: 5px;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    right: -27%;
  }
  
  #webCifar-icon svg {
    max-width: 20px;
  }
   */